.banner {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  padding: 5rem;
  border-radius: 1rem;

  &__text {
    h2 {
      margin-bottom: 10rem;
    }

    h4 {
      min-height: 11.5rem;
      transition: all 0.3s ease;
    }

    &:hover > h4 {
      transform: translateY(-0.5rem);
    }
  }

  &--bg1 {
    background: url("../imgs/banner/banner-1.png") no-repeat center center;
    background-size: cover;
  }

  &--bg2 {
    background: url("../imgs/banner/banner-2.png") no-repeat center center;
    background-size: cover;
  }

  &--bg3 {
    background: url("../imgs/banner/banner-3.png") no-repeat center center;
    background-size: cover;
  }

  &--bg4 {
    background: url("../imgs/banner/banner-4.png") no-repeat center bottom;
    background-size: cover;
  }

  &--feature {
    gap: 2rem;
    padding: 2rem;
    background-color: $background-2;

    img {
      max-width: 6rem;
      transition: 0.3s;
    }

    h5 {
      font-weight: 600;
      color: $color-grey-2;
    }

    p {
      color: $color-grey-4;
    }

    &:hover img {
      transform: translateY(-0.5rem);
    }
  }
}
