.btn {
  &,
  &:link,
  &:visited {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 0.7rem;
    font-family: $font-heading;
    font-size: $font-md;
    font-weight: 700;
    height: 4.4rem;
    padding: 0 2rem;
    color: #fff;
    background-color: $color-brand;
    border: none;
    border-radius: 0.5rem;

    .fi-rs-angle-down {
      font-size: 1rem;
      margin-left: 0.5rem;
      color: currentColor;
    }
  }

  &:hover,
  &:active {
    background-color: $color-brand-dark;
  }

  &--subscribe {
    &,
    &:link,
    &:visited {
      height: 6.4rem;
      padding: 0 4rem;
      font-weight: 500;
      line-height: 2rem;
      letter-spacing: 0.5px;
      border-radius: 5rem;
    }
  }

  &--shop {
    &,
    &:link,
    &:visited {
      font-size: $font-xxs !important;
      height: 3.1rem !important;
      padding: 0 0.8rem 0 1.2rem !important;
      line-height: 1.3;
      letter-spacing: 0.5px;
      transition: all 0.3s linear;

      i {
        font-size: $font-sm;
        transition: 0.3s;
      }
    }

    &:hover {
      background-color: $color-brand-2;
    }

    &:hover > i {
      margin-left: 0.5rem;
    }
  }

  &--add {
    &,
    &:link,
    &:visited {
      font-size: $font-sm;
      font-family: $font-text;
      height: 3.6rem;
      gap: 0.5rem;
      color: $color-brand;
      background-color: $background-3;
      border-radius: 0.4rem;
    }

    &:hover {
      color: #fff;
      transform: translateY(-0.3rem);
    }
  }

  &--add-wide {
    &,
    &:link,
    &:visited {
      width: 100%;
      height: 4.7rem;
      font-size: $font-sm;
      letter-spacing: 0.5px;
      border-radius: 0.4rem;
      transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    }

    &:hover {
      background-color: $color-brand-2;
      transform: translateY(-0.5rem);
    }
  }

  &--cart-view,
  &--cart-checkout {
    &:link,
    &:visited {
      height: unset;
      font-size: $font-sm;
      font-weight: 400;
      line-height: 1;
      padding: 1rem 2rem;
      border-radius: 0.4rem;
      border: 2px solid $color-brand;
    }
  }

  &--cart-view {
    &:link,
    &:visited {
      color: $color-brand;
      background-color: #fff;
    }

    &:hover {
      color: #fff;
      background-color: $color-brand-2;
    }
  }

  &--cart-checkout {
    &:link,
    &:visited {
      color: #fff;
      background-color: $color-brand;
    }

    &:hover {
      color: #fff;
      background-color: $color-brand-2;
    }
  }

  &--mega {
    &:link,
    &:visited {
      height: 4.2rem;
      padding: 0 2.2rem;
      border-radius: 2.6rem;
      z-index: 33;
    }

    &:hover,
    &:active {
      background-color: $color-danger;
    }
  }

  &--close {
    &,
    &:link,
    &:visited {
      width: 2.6rem;
      height: 2.6rem;
      padding: 0;
      border-radius: 50%;
      background-color: $background-3;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 0.1rem;
        height: 1rem;
        background-color: #111;
        transition: transform 0.3s;
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }

    &:hover,
    &:active {
      background-color: $background-3;

      &::before {
        transform: rotate(315deg);
      }

      &::after {
        transform: rotate(405deg);
      }
    }
  }

  &--search {
    &,
    &:link,
    &:visited {
      position: absolute;
      right: 0;
      padding: 0 1.4rem;
      color: #333;
      background-color: transparent;
    }

    &:hover,
    &:active {
      color: #fff;
    }
  }
}
