/***RESET***/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(1800) {
    font-size: 75%;
  }

  @include respond(1400) {
    font-size: 54.35%;
  }

  @include respond(1200) {
    font-size: 50%;
  }
}

::selection {
  background-color: $color-brand;
  color: #fff;
}

/***COMMON CLASSES***/

.container {
  max-width: 164rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.bg-1 {
  background-color: $color-1 !important;
}
.bg-2 {
  background-color: $color-2 !important;
}
.bg-3 {
  background-color: $color-3 !important;
}
.bg-4 {
  background-color: $color-4 !important;
}
.bg-5 {
  background-color: $color-5 !important;
}
.bg-6 {
  background-color: $color-6 !important;
}
.bg-7 {
  background-color: $color-7 !important;
}
.bg-8 {
  background-color: $color-8 !important;
}
.bg-9 {
  background-color: $color-9 !important;
}
.bg-10 {
  background-color: $color-10 !important;
}
.bg-11 {
  background-color: $color-11 !important;
}
.bg-12 {
  background-color: $color-12 !important;
}
.bg-13 {
  background-color: $color-13 !important;
}
.bg-14 {
  background-color: $color-14 !important;
}
.bg-15 {
  background-color: $color-15 !important;
}

.ai-fs {
  align-items: flex-start !important;
}

.mt-20 {
  margin-top: 2rem;
}

.mb-5 {
  margin-bottom: 0.5rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-25 {
  margin-bottom: 2.5rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-45 {
  margin-bottom: 4.5rem;
}

.mr-30 {
  margin-right: 3rem;
}

.w-100 {
  width: 100%;
}

.hide-1400 {
  @include respond(1400) {
    display: none !important;
  }
}

.hide-1200 {
  @include respond(1200) {
    display: none !important;
  }
}

.hide-900 {
  @include respond(900) {
    display: none !important;
  }
}

.hide-800 {
  @include respond(800) {
    display: none !important;
  }
}

.hide-700 {
  @include respond(700) {
    display: none !important;
  }
}

.hide-600 {
  @include respond(600) {
    display: none !important;
  }
}

.hide-500 {
  @include respond(500) {
    display: none !important;
  }
}
