/***RESET***/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/***COMMON CLASSES***/

.container {
  max-width: 161rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.bg-1 {
  background-color: $color-1 !important;
}
.bg-2 {
  background-color: $color-2 !important;
}
.bg-3 {
  background-color: $color-3 !important;
}
.bg-4 {
  background-color: $color-4 !important;
}
.bg-5 {
  background-color: $color-5 !important;
}
.bg-6 {
  background-color: $color-6 !important;
}
.bg-7 {
  background-color: $color-7 !important;
}
.bg-8 {
  background-color: $color-8 !important;
}
.bg-9 {
  background-color: $color-9 !important;
}
.bg-10 {
  background-color: $color-10 !important;
}
.bg-11 {
  background-color: $color-11 !important;
}
.bg-12 {
  background-color: $color-12 !important;
}
.bg-13 {
  background-color: $color-13 !important;
}
.bg-14 {
  background-color: $color-14 !important;
}
.bg-15 {
  background-color: $color-15 !important;
}
