/***RESET***/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/***COMMON CLASSES***/

.container {
  max-width: 161rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.fi-rs-angle-down {
  font-size: 1rem;
  color: $color-text;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-family: $font-heading;
  font-size: inherit;
  font-weight: 700;
  height: 4.4rem;
  padding: 0 2rem;
  color: #fff;
  background-color: $color-brand;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

  i {
    margin-left: 0.5rem;
    color: currentColor;
  }
}
