body {
  color: $color-text;
  font-family: $font-text;
  font-size: $font-md;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
}

a,
button {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

ul,
ol {
  list-style: none;
}

.fi-rs-angle-down {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  color: $color-text;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-heading;
  font-weight: 700;
  color: $color-heading;
  line-height: 1.2;
}

h3 {
  font-size: 3.2rem;
}
