.hotline {
  display: inline-flex;
  flex-shrink: 0;
  gap: 1.2rem;

  &__icon {
    width: 3.6rem;

    &--footer {
      width: 3rem;
      opacity: 0.5;
    }
  }

  &__text {
    line-height: 1;
  }

  &__number {
    font-family: $font-heading;
    font-weight: 700;
    font-size: 2.6rem;
    color: $color-brand;
  }

  &__support {
    font-size: $font-xxs;
    letter-spacing: 0.9px;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  &__links {
    flex: 1;
    display: flex;
    gap: 0.5rem;
  }

  &__btn {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: $color-brand;
      transition-duration: 0.5s;
    }

    img {
      transition: 0.3s;
    }

    &:hover,
    &:active {
      transform: translateY(-0.3rem);

      img {
        opacity: 0.75;
      }
    }
  }

  &__icon {
    width: 1.6rem;
  }

  &--mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.mobile-menu-active .overlay {
  opacity: 1;
  visibility: visible;
}
