@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@400;500;600;700&display=swap");
/***RESET***/
@import url(vendors/uicons-regular-straight.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/***COMMON CLASSES***/
.container {
  max-width: 161rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.bg-1 {
  background-color: #fddde4 !important;
}

.bg-2 {
  background-color: #cdebbc !important;
}

.bg-3 {
  background-color: #d1e8f2 !important;
}

.bg-4 {
  background-color: #cdd4f8 !important;
}

.bg-5 {
  background-color: #f6dbf6 !important;
}

.bg-6 {
  background-color: #fff2e5 !important;
}

.bg-7 {
  background-color: #d77f7a !important;
}

.bg-8 {
  background-color: #63a2c1 !important;
}

.bg-9 {
  background-color: #f2fce4 !important;
}

.bg-10 {
  background-color: #fffceb !important;
}

.bg-11 {
  background-color: #ecffec !important;
}

.bg-12 {
  background-color: #feefea !important;
}

.bg-13 {
  background-color: #fff3eb !important;
}

.bg-14 {
  background-color: #fff3ff !important;
}

.bg-15 {
  background-color: #f2fce4 !important;
}

.ai-fs {
  align-items: flex-start !important;
}

.mt-20 {
  margin-top: 2rem;
}

.mb-5 {
  margin-bottom: 0.5rem;
}

.w-100 {
  width: 100%;
}

body {
  color: #7e7e7e;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

a {
  color: #3bb77e;
}
a:hover {
  color: #fdc040;
}

button {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.fi-rs-angle-down {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  color: #7e7e7e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #253d4e;
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.4rem;
}

h6 {
  font-size: 1.6rem;
}

.section-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 4.4rem;
}
.section-header__nav {
  display: flex;
  align-items: flex-end;
}
.section-header h3 {
  margin-right: 3rem;
}
.section-header__arrows {
  display: flex;
  gap: 1rem;
  padding-left: 11rem;
}
.section-header__show-all:link, .section-header__show-all:visited {
  color: #7e7e7e;
}
.section-header__show-all:hover, .section-header__show-all:active {
  color: #3bb77e;
}
.section-header__show-all i {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.sidebar-header {
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #ececec;
  position: relative;
}
.sidebar-header::after {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  height: 0.2rem;
  width: 8rem;
  background-color: #bce3c9;
}

.btn, .btn:link, .btn:visited {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  height: 4.4rem;
  padding: 0 2rem;
  color: #fff;
  background-color: #3bb77e;
  border: none;
  border-radius: 0.5rem;
}
.btn .fi-rs-angle-down, .btn:link .fi-rs-angle-down, .btn:visited .fi-rs-angle-down {
  font-size: 1rem;
  margin-left: 0.5rem;
  color: currentColor;
}
.btn:hover, .btn:active {
  background-color: #29a56c;
}
.btn--subscribe, .btn--subscribe:link, .btn--subscribe:visited {
  height: 6.4rem;
  padding: 0 4rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.5px;
  border-radius: 5rem;
}
.btn--shop, .btn--shop:link, .btn--shop:visited {
  font-size: 1.2rem !important;
  height: 3.1rem !important;
  padding: 0 0.8rem 0 1.2rem !important;
  line-height: 1.3;
  letter-spacing: 0.5px;
  transition: all 0.3s linear;
}
.btn--shop i, .btn--shop:link i, .btn--shop:visited i {
  font-size: 1.4rem;
  transition: 0.3s;
}
.btn--shop:hover {
  background-color: #fdc040;
}
.btn--shop:hover > i {
  margin-left: 0.5rem;
}
.btn--add, .btn--add:link, .btn--add:visited {
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  height: 3.6rem;
  gap: 0.5rem;
  color: #3bb77e;
  background-color: #def9ec;
  border-radius: 0.4rem;
}
.btn--add:hover {
  color: #fff;
  transform: translateY(-0.3rem);
}
.btn--add-wide, .btn--add-wide:link, .btn--add-wide:visited {
  width: 100%;
  height: 4.7rem;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  border-radius: 0.4rem;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.btn--add-wide:hover {
  background-color: #fdc040;
  transform: translateY(-0.5rem);
}

.slider-arrow, .slider-arrow:link, .slider-arrow:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f3f4;
  border-radius: 50%;
  border: none;
}
.slider-arrow:hover, .slider-arrow:active {
  background: #3bb77e;
  color: #fff;
}
.slider-arrow--hero {
  width: 4.5rem;
  height: 4.5rem;
  font-size: inherit;
}
.slider-arrow--tab {
  width: 4rem;
  height: 4rem;
  font-size: 2.4rem;
}

.slider-dot, .slider-dot:link, .slider-dot:visited {
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  border-radius: 50%;
  border: 1px solid #253d4e;
  transition-timing-function: linear;
}
.slider-dot:hover, .slider-dot:active {
  background: #bce3c9;
}
.slider-dot--active {
  background: #3bb77e;
  border-color: #3bb77e;
}
.slider-dot--active:hover {
  background: #3bb77e;
  border-color: #3bb77e;
}

.subscriber {
  display: flex;
  max-width: 45rem;
  background-color: #fff;
  border-radius: 5rem;
  overflow: hidden;
}
.subscriber__input {
  width: 100%;
  padding-left: 5.8rem;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: url("../imgs/theme/icons/icon-plane.png") no-repeat 2.5rem center;
}
.subscriber__input:focus {
  outline: none;
}

.banner {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  padding: 5rem;
  border-radius: 1rem;
}
.banner__text h2 {
  margin-bottom: 10rem;
}
.banner__text h4 {
  min-height: 11.5rem;
  transition: all 0.3s ease;
}
.banner__text:hover > h4 {
  transform: translateY(-0.5rem);
}
.banner--bg1 {
  background: url("../imgs/banner/banner-1.png") no-repeat center center;
  background-size: cover;
}
.banner--bg2 {
  background: url("../imgs/banner/banner-2.png") no-repeat center center;
  background-size: cover;
}
.banner--bg3 {
  background: url("../imgs/banner/banner-3.png") no-repeat center center;
  background-size: cover;
}
.banner--bg4 {
  background: url("../imgs/banner/banner-4.png") no-repeat center bottom;
  background-size: cover;
}

.product__rating {
  display: flex;
  align-items: center;
  height: 2.1rem;
}
.product__rating img {
  width: 1.3rem;
}
.product__rating span {
  font-size: 1.4rem;
  color: #b6b6b6;
  margin-left: 1rem;
}

.product-card {
  flex: 1 0 20rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #ececec;
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  transition: 0.2s;
}
.product-card__img-box {
  position: relative;
  flex-shrink: 0;
}
.product-card__img {
  display: block;
  width: 100%;
  border-radius: 1.5rem;
  transition: 0.25s opacity, 0.25s visibility, transform 1.5s cubic-bezier(0, 0, 0.2, 1);
}
.product-card__img--default {
  opacity: 1;
  visibility: visible;
}
.product-card__img--hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.product-card__badge {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  line-height: 1;
  color: #fff;
  padding: 0.9rem 2rem 1rem 2rem;
  border-radius: 1.5rem 0 2rem 0;
}
.product-card__badge--hot {
  background-color: #f74b81;
}
.product-card__badge--sale {
  background-color: #67bcee;
}
.product-card__badge--new {
  background-color: #55bb90;
}
.product-card__badge--best {
  background-color: #f59758;
}
.product-card__actions-box {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #bce3c9;
  box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease 0s;
}
.product-card__action, .product-card__action:link, .product-card__action:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 3.6rem;
  color: #3bb77e;
  border: 0;
  background: none;
  position: relative;
}
.product-card__action:hover, .product-card__action:active {
  color: #fdc040;
  transform: translateY(-0.3rem);
}
.product-card__action:not(:last-child) {
  border-right: 1px solid #bce3c9;
}
.product-card__action i {
  font-size: 1.5rem;
  color: inherit;
}
.product-card__action::after, .product-card__action::before {
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  z-index: 11;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}
.product-card__action::after {
  content: attr(aria-label);
  top: -2.5rem;
  font-size: 1.1rem;
  color: #fff;
  padding: 0.7rem 1rem;
  background-color: #3bb77e;
  border-radius: 0.5rem;
}
.product-card__action::before {
  content: "";
  top: 0;
  border: 0.7rem solid transparent;
  border-top-color: #3bb77e;
}
.product-card__action:hover::after, .product-card__action:hover::before {
  opacity: 1;
  visibility: visible;
  transform: translateY(-0.7rem);
}
.product-card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 333;
}
.product-card__category:link, .product-card__category:visited {
  display: inline-block;
  font-size: 1.2rem;
  color: #adadad;
  margin-bottom: 0.7rem;
}
.product-card__category:hover, .product-card__category:active {
  color: #3bb77e;
}
.product-card__title:link, .product-card__title:visited {
  color: inherit;
}
.product-card__title:hover, .product-card__title:active {
  color: #3bb77e;
}
.product-card__vendor {
  font-size: 1.4rem;
  color: #b6b6b6;
}
.product-card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 1.5rem;
}
.product-card__price {
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #3bb77e;
}
.product-card__price-old {
  font-size: 1.4rem;
  color: #adadad;
  text-decoration: line-through;
  margin-left: 0.7rem;
}
.product-card__progress {
  width: 100%;
  font-size: 1.3rem;
  color: #253d4e;
  margin: 1.5rem 0;
}
.product-card__progress--full {
  height: 0.6rem;
  margin-bottom: 0.8rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  overflow: hidden;
}
.product-card__progress--score {
  width: 50%;
  height: inherit;
  background-color: #3bb77e;
}
.product-card:hover .product-card__img--default {
  opacity: 0;
  visibility: hidden;
}
.product-card:hover .product-card__img--hover {
  opacity: 1;
  visibility: visible;
}
.product-card:hover .product-card__img {
  transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
}
.product-card:hover .product-card__actions-box {
  opacity: 1;
  visibility: visible;
}
.product-card:hover {
  border: 1px solid #bce3c9;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
}

.deal-card {
  flex: 1 0 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deal-card__countdawn {
  position: absolute;
  top: -8rem;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 1.4rem;
  width: 100%;
}
.deal-card__countdawn-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 6rem;
  height: 6.4rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: #fff;
}
.deal-card__countdawn-amount {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 1;
  color: #3bb77e;
  transition: 0.2s;
}
.deal-card__countdawn-amount:hover {
  transform: translateY(-0.4rem);
}
.deal-card__content {
  display: flex;
  flex-direction: column;
  width: 86%;
  height: 100%;
  padding: 2.5rem 3rem;
  margin-top: -9rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
  z-index: 33;
  position: relative;
  transition: 0.3s;
}
.deal-card:hover .deal-card__content {
  transform: translateY(-0.5rem);
}

.header__top {
  padding: 3rem 0;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-right: 7rem;
}
.header__logo img {
  display: block;
  width: 18rem;
}
.header__search {
  width: 100%;
}
.header__search form {
  display: flex;
  max-width: 70rem;
  height: 5rem;
  border: 2px solid #bce3c9;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.header__search i {
  position: absolute;
  top: calc(50% - 0.2rem);
  transform: translateY(-50%);
  left: 13rem;
  cursor: pointer;
}
.header__category-select {
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  line-height: 2rem;
  color: #253d4e;
  height: 100%;
  width: 15.5rem;
  padding-left: 2rem;
  border: none;
  appearance: none;
  cursor: pointer;
}
.header__category-select:focus {
  outline: none;
}
.header__separate-line {
  height: 2rem;
  width: 1px;
  background-color: #cacaca;
  margin: auto 0;
  margin-left: 1.3rem;
}
.header__search-input {
  height: 100%;
  width: 100%;
  border: none;
  margin-left: 1.7rem;
  background-image: url(../imgs/theme/icons/search.png);
  background-position: right center;
  background-repeat: no-repeat;
}
.header__search-input:focus {
  outline: none;
}
.header__actions {
  display: flex;
  gap: 2rem;
  margin-left: 1rem;
}
.header__action-item {
  position: relative;
}
.header__action-item a {
  display: flex;
  align-items: baseline;
}
.header__action-item a img {
  max-width: 2.5rem;
  display: block;
}
.header__action-item:not(:last-child) img {
  margin-right: 1rem;
}
.header__action-count {
  position: absolute;
  top: -0.7rem;
  left: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  color: #fff;
  background: #3bb77e;
  border-radius: 100%;
}
.header__action-label {
  display: block;
  color: #7e7e7e;
}
.header__bottom {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.header__hotline {
  display: flex;
  flex-shrink: 0;
  gap: 1.2rem;
}
.header__hotline-icon {
  width: 3.6rem;
}
.header__hotline-number {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1;
  color: #3bb77e;
}
.header__hotline-support {
  font-size: 1.2rem;
  letter-spacing: 0.9px;
}

.main-nav ul {
  display: flex;
}
.main-nav li {
  padding: 0 1.7rem;
}
.main-nav__hot {
  margin-right: 1.5rem;
}
.main-nav__link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  height: 7rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  line-height: 2rem;
  color: #253d4e;
}
.main-nav .active, li:hover > .main-nav__link {
  color: #3bb77e;
}
.main-nav .active i, li:hover > .main-nav__link i {
  color: #3bb77e;
}

.nav-tabs {
  display: flex;
  gap: 3rem;
}
.nav-tabs__link, .nav-tabs__link:link, .nav-tabs__link:visited {
  display: inline-block;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: inherit;
  font-weight: 600;
  line-height: 1;
  border: 0;
  color: #253d4e;
  background: none;
}
.nav-tabs__link:hover, .nav-tabs__link:active {
  color: #3bb77e;
  transform: translateY(-0.3rem);
}
.nav-tabs .active {
  color: #3bb77e;
}

.hero {
  padding: 2.5rem 0;
}

.hero-slider {
  position: relative;
  padding: 9.7rem;
  border-radius: 3rem;
  background: url("../imgs/slider/slider-1.png") no-repeat center center;
  background-size: cover;
}
.hero-slider__heading {
  font-size: 7.2rem;
  line-height: 1;
  margin-bottom: 4rem;
}
.hero-slider__desc {
  font-size: 3rem;
  line-height: 2.6rem;
  margin-bottom: 6.5rem;
}
.hero-slider__arrows {
  position: absolute;
  left: 2rem;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}
.hero-slider:hover > .hero-slider__arrows {
  opacity: 1;
  transition: opacity 0.5s ease 0s;
}
.hero-slider__dots {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.featured {
  padding: 2.5rem 0;
}
.featured__list {
  overflow: hidden;
}
.featured__track {
  display: flex;
  gap: 2.4rem;
}
.featured__card {
  text-align: center;
  width: 100%;
  max-width: 13.7rem;
  min-height: 18rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #f4f6fa;
  border-radius: 1rem;
  transition: 0.2s;
}
.featured__card:hover {
  border: 1px solid #bce3c9;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
}
.featured__card h6 a {
  color: inherit;
}
.featured__card:hover h6 a {
  color: #3bb77e;
}
.featured__card span {
  font-size: 1.4rem;
}
.featured__img {
  overflow: hidden;
  margin-bottom: 1rem;
}
.featured__img img {
  max-width: 8rem;
  transition: transform 0.5s;
}
.featured__img:hover img {
  transform: scale(1.05);
}

.banners {
  padding: 2.5rem 0;
}
.banners__wrap {
  display: flex;
  gap: 2.4rem;
  height: 18vw;
  min-height: 14.6rem;
  max-height: 28rem;
}

.populars {
  padding: 2.5rem 0;
}
.populars__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24.5rem, 1fr));
  grid-gap: 2.4rem;
}

.bestsells {
  padding: 2.5rem 0;
}
.bestsells__wrap {
  display: grid;
  grid-template-columns: minmax(min-content, 37.8rem) 1fr;
  grid-gap: 2.4rem;
}
.bestsells__list {
  overflow: hidden;
}
.bestsells__track {
  display: flex;
  gap: 2.4rem;
}

.deals {
  padding: 2.5rem 0;
}
.deals__wrap {
  display: flex;
  gap: 2.4rem;
}

.toplists {
  padding: 2.5rem 0;
}
.toplists__wrap {
  display: flex;
  gap: 2.4rem;
}
.toplists__column {
  flex: 1 0 27rem;
}
.toplists__products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.toplists__item {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.toplists__item img {
  max-width: 11rem;
  border-radius: 1rem;
}
.toplists__item:hover {
  transform: translateY(-0.5rem);
}

/*import vendors*/

/*# sourceMappingURL=main.css.map */
