@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@400;500;600;700&display=swap");
/***RESET***/
@import url(vendors/uicons-regular-straight.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/***COMMON CLASSES***/
.container {
  max-width: 161rem;
  margin: 0 auto;
  padding: 0 1.2rem;
}

body {
  color: #7e7e7e;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
}

a,
button {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

ul,
ol {
  list-style: none;
}

.fi-rs-angle-down {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  color: #7e7e7e;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #253d4e;
}

.btn,
.btn:link,
.btn:visited {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-family: "Quicksand", sans-serif;
  font-size: inherit;
  font-weight: 700;
  height: 4.4rem;
  padding: 0 2rem;
  color: #fff;
  background-color: #3bb77e;
  border: none;
  border-radius: 0.5rem;
}
.btn .fi-rs-angle-down,
.btn:link .fi-rs-angle-down,
.btn:visited .fi-rs-angle-down {
  font-size: 1rem;
  margin-left: 0.5rem;
  color: currentColor;
}

.btn:hover,
.btn:active {
  background-color: #29a56c;
}

.btn--subscribe {
  height: 6.4rem;
  padding: 0 4rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.5px;
  border-radius: 5rem;
}

.slider-arrow,
.slider-arrow:link,
.slider-arrow:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  font-size: inherit;
  background: #f2f3f4;
  border-radius: 50%;
  border: none;
}

.slider-arrow:hover,
.slider-arrow:active {
  background: #3bb77e;
  color: #fff;
}

.slider-dot,
.slider-dot:link,
.slider-dot:visited {
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  border-radius: 50%;
  border: 1px solid #253d4e;
  transition-timing-function: linear;
}

.slider-dot:hover,
.slider-dot:active {
  background: #bce3c9;
}

.slider-dot--active {
  background: #3bb77e;
  border-color: #3bb77e;
}

.slider-dot--active:hover {
  background: #3bb77e;
  border-color: #3bb77e;
}

.subscriber {
  display: flex;
  max-width: 45rem;
  background-color: #fff;
  border-radius: 5rem;
  overflow: hidden;
}
.subscriber__input {
  width: 100%;
  padding-left: 5.8rem;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: url("../imgs/theme/icons/icon-plane.png") no-repeat 2.5rem center;
}
.subscriber__input:focus {
  outline: none;
}

.header__top {
  padding: 3rem 0;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-right: 7rem;
}
.header__logo img {
  display: block;
  width: 18rem;
}
.header__search {
  width: 100%;
}
.header__search form {
  display: flex;
  max-width: 70rem;
  height: 5rem;
  border: 2px solid #bce3c9;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.header__search i {
  position: absolute;
  top: calc(50% - 0.2rem);
  transform: translateY(-50%);
  left: 13rem;
  cursor: pointer;
}
.header__category-select {
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  line-height: 2rem;
  color: #253d4e;
  height: 100%;
  width: 15.5rem;
  padding-left: 2rem;
  border: none;
  appearance: none;
  cursor: pointer;
}
.header__category-select:focus {
  outline: none;
}
.header__separate-line {
  height: 2rem;
  width: 1px;
  background-color: #cacaca;
  margin: auto 0;
  margin-left: 1.3rem;
}
.header__search-input {
  height: 100%;
  width: 100%;
  border: none;
  margin-left: 1.7rem;
  background-image: url(../imgs/theme/icons/search.png);
  background-position: right center;
  background-repeat: no-repeat;
}
.header__search-input:focus {
  outline: none;
}
.header__actions {
  display: flex;
  margin-left: 1rem;
}
.header__action-item {
  display: flex;
  position: relative;
}
.header__action-item:not(:last-child) {
  margin-right: 2rem;
}
.header__action-item img {
  max-width: 2.5rem;
  display: block;
}
.header__action-item img:not(:last-child) {
  margin-right: 1rem;
}
.header__action-count {
  position: absolute;
  top: -0.7rem;
  left: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  color: #fff;
  background: #3bb77e;
  border-radius: 100%;
}
.header__action-label {
  padding-top: 0.6rem;
  display: block;
}
.header__bottom {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.header__hotline {
  display: flex;
  flex-shrink: 0;
  gap: 1.2rem;
}
.header__hotline-icon {
  width: 3.6rem;
}
.header__hotline-number {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1;
  color: #3bb77e;
}
.header__hotline-support {
  font-size: 1.2rem;
  letter-spacing: 0.9px;
}

.main-nav ul {
  display: flex;
}
.main-nav li {
  padding: 0 1.7rem;
}
.main-nav__hot {
  margin-right: 1.5rem;
}
.main-nav__link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  height: 7rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  line-height: 2rem;
  color: #253d4e;
}
.main-nav .active, li:hover > .main-nav__link {
  color: #3bb77e;
}
.main-nav .active i, li:hover > .main-nav__link i {
  color: #3bb77e;
}

.hero {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.hero-slider {
  position: relative;
  padding: 9.7rem;
  border-radius: 3rem;
  background: url("../imgs/slider/slider-1.png") no-repeat center center;
  background-size: cover;
}
.hero-slider__heading {
  font-size: 7.2rem;
  line-height: 1;
  margin-bottom: 4rem;
}
.hero-slider__desc {
  font-size: 3rem;
  line-height: 2.6rem;
  margin-bottom: 6.5rem;
}
.hero-slider__arrows {
  position: absolute;
  left: 2rem;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}
.hero-slider:hover > .hero-slider__arrows {
  opacity: 1;
  transition: opacity 0.5s ease 0s;
}
.hero-slider__dots {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

/*import vendors*/

/*# sourceMappingURL=main.css.map */
