@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@400;500;600;700&display=swap");
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where normal styles apply
1800px + :    Big desktop

ORDER: Base + Typography > General layout + Grid > Page Layout > Components

1em = 16px
*/
/***RESET***/
@import url(vendors/uicons-regular-straight.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 87.5em) {
  html {
    font-size: 54.35%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

::selection {
  background-color: #3bb77e;
  color: #fff;
}

/***COMMON CLASSES***/
.container {
  max-width: 164rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.bg-1 {
  background-color: #fddde4 !important;
}

.bg-2 {
  background-color: #cdebbc !important;
}

.bg-3 {
  background-color: #d1e8f2 !important;
}

.bg-4 {
  background-color: #cdd4f8 !important;
}

.bg-5 {
  background-color: #f6dbf6 !important;
}

.bg-6 {
  background-color: #fff2e5 !important;
}

.bg-7 {
  background-color: #d77f7a !important;
}

.bg-8 {
  background-color: #63a2c1 !important;
}

.bg-9 {
  background-color: #f2fce4 !important;
}

.bg-10 {
  background-color: #fffceb !important;
}

.bg-11 {
  background-color: #ecffec !important;
}

.bg-12 {
  background-color: #feefea !important;
}

.bg-13 {
  background-color: #fff3eb !important;
}

.bg-14 {
  background-color: #fff3ff !important;
}

.bg-15 {
  background-color: #f2fce4 !important;
}

.ai-fs {
  align-items: flex-start !important;
}

.position-static {
  position: static !important;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.mt-20 {
  margin-top: 2rem;
}

.mb-5 {
  margin-bottom: 0.5rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-25 {
  margin-bottom: 2.5rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-45 {
  margin-bottom: 4.5rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mr-30 {
  margin-right: 3rem;
}

.w-100 {
  width: 100%;
}

@media only screen and (max-width: 87.5em) {
  .hide-1400 {
    display: none !important;
  }
}

@media only screen and (max-width: 75em) {
  .hide-1200 {
    display: none !important;
  }
}

@media only screen and (max-width: 56.25em) {
  .hide-900 {
    display: none !important;
  }
}

@media only screen and (max-width: 50em) {
  .hide-800 {
    display: none !important;
  }
}

@media only screen and (max-width: 43.75em) {
  .hide-700 {
    display: none !important;
  }
}

@media only screen and (max-width: 37.5em) {
  .hide-600 {
    display: none !important;
  }
}

@media only screen and (max-width: 31.25em) {
  .hide-500 {
    display: none !important;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-7rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  color: #7e7e7e;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

a {
  color: #3bb77e;
}
a:hover {
  color: #fdc040;
}

button {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

strong {
  font-weight: 600;
}

.fi-rs-angle-down {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  color: #7e7e7e;
}

.fi-rs-angle-right {
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #253d4e;
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

.section-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-bottom: 4.4rem;
}
.section-header__nav {
  display: flex;
  align-items: flex-end;
}
.section-header h3 {
  margin-right: 3rem;
}
.section-header__arrows {
  display: flex;
  gap: 1rem;
  padding-left: 11rem;
}
.section-header__show-all:link, .section-header__show-all:visited {
  color: #7e7e7e;
}
.section-header__show-all:hover, .section-header__show-all:active {
  color: #3bb77e;
}
.section-header__show-all i {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.sidebar-header {
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #ececec;
  position: relative;
}
.sidebar-header::after {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  height: 0.2rem;
  width: 8rem;
  background-color: #bce3c9;
}

.btn, .btn:link, .btn:visited {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 0.7rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  height: 4.4rem;
  padding: 0 2rem;
  color: #fff;
  background-color: #3bb77e;
  border: none;
  border-radius: 0.5rem;
}
.btn .fi-rs-angle-down,
.btn .fi-rs-angle-up, .btn:link .fi-rs-angle-down,
.btn:link .fi-rs-angle-up, .btn:visited .fi-rs-angle-down,
.btn:visited .fi-rs-angle-up {
  font-size: 1rem;
  margin-left: 0.5rem;
  color: currentColor;
}
.btn:hover, .btn:active {
  background-color: #29a56c;
}
.btn--subscribe, .btn--subscribe:link, .btn--subscribe:visited {
  height: 6.4rem;
  padding: 0 4rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.5px;
  border-radius: 5rem;
}
.btn--shop, .btn--shop:link, .btn--shop:visited {
  font-size: 1.2rem !important;
  height: 3.1rem !important;
  padding: 0 0.8rem 0 1.2rem !important;
  line-height: 1.3;
  letter-spacing: 0.5px;
  transition: all 0.3s linear;
}
.btn--shop i, .btn--shop:link i, .btn--shop:visited i {
  font-size: 1.4rem;
  transition: 0.3s;
}
.btn--shop:hover {
  background-color: #fdc040;
}
.btn--shop:hover > i {
  margin-left: 0.5rem;
}
.btn--add, .btn--add:link, .btn--add:visited {
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  height: 3.6rem;
  gap: 0.5rem;
  color: #3bb77e;
  background-color: #def9ec;
  border-radius: 0.4rem;
}
.btn--add:hover {
  color: #fff;
  transform: translateY(-0.3rem);
}
.btn--add-wide, .btn--add-wide:link, .btn--add-wide:visited {
  width: 100%;
  height: 4.7rem;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  border-radius: 0.4rem;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.btn--add-wide:hover {
  background-color: #fdc040;
  transform: translateY(-0.5rem);
}
.btn--cart-view:link, .btn--cart-view:visited, .btn--cart-checkout:link, .btn--cart-checkout:visited {
  height: unset;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  border: 2px solid #3bb77e;
}
.btn--cart-view:link, .btn--cart-view:visited {
  color: #3bb77e;
  background-color: #fff;
}
.btn--cart-view:hover {
  color: #fff;
  background-color: #fdc040;
}
.btn--cart-checkout:link, .btn--cart-checkout:visited {
  color: #fff;
  background-color: #3bb77e;
}
.btn--cart-checkout:hover {
  color: #fff;
  background-color: #fdc040;
}
.btn--mega:link, .btn--mega:visited {
  height: 4.2rem;
  padding: 0 2.2rem;
  border-radius: 2.6rem;
  z-index: 33;
}
.btn--mega:hover, .btn--mega:active {
  background-color: #fd6e6e;
}
.btn--close, .btn--close:link, .btn--close:visited {
  width: 2.6rem;
  height: 2.6rem;
  padding: 0;
  border-radius: 50%;
  background-color: #def9ec;
  position: relative;
}
.btn--close::before, .btn--close::after, .btn--close:link::before, .btn--close:link::after, .btn--close:visited::before, .btn--close:visited::after {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 1rem;
  background-color: #111;
  transition: transform 0.3s;
}
.btn--close::before, .btn--close:link::before, .btn--close:visited::before {
  transform: rotate(-45deg);
}
.btn--close::after, .btn--close:link::after, .btn--close:visited::after {
  transform: rotate(45deg);
}
.btn--close:hover, .btn--close:active {
  background-color: #def9ec;
}
.btn--close:hover::before, .btn--close:active::before {
  transform: rotate(315deg);
}
.btn--close:hover::after, .btn--close:active::after {
  transform: rotate(405deg);
}
.btn--search, .btn--search:link, .btn--search:visited {
  position: absolute;
  right: 0;
  padding: 0 1.4rem;
  color: #333;
  background-color: transparent;
}
.btn--search:hover, .btn--search:active {
  color: #fff;
}

.subscriber {
  display: flex;
  max-width: 45rem;
  background-color: #fff;
  border-radius: 5rem;
  overflow: hidden;
}
.subscriber__input {
  width: 100%;
  padding-left: 5.8rem;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: url("../imgs/theme/icons/icon-plane.png") no-repeat 2.5rem center;
  background-size: 1.6rem;
}
.subscriber__input:focus {
  outline: none;
}

.header-search {
  display: flex;
  max-width: 70rem;
  height: 5rem;
  border: 2px solid #bce3c9;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}
.header-search i {
  position: absolute;
  top: calc(50% - 0.2rem);
  transform: translateY(-50%);
  left: 13rem;
  cursor: pointer;
}
.header-search__category-select {
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #253d4e;
  padding-left: 2rem;
  border: none;
  appearance: none;
  cursor: pointer;
}
.header-search__category-select:focus {
  outline: none;
}
.header-search__separate-line {
  height: 2rem;
  width: 1px;
  background-color: #cacaca;
  margin: auto 0;
  margin-left: 1.3rem;
}
.header-search__search-input {
  flex: 1;
  font-size: 1.4rem;
  font-family: inherit;
  border: none;
  margin-left: 1.7rem;
  background-image: url(../imgs/theme/icons/search.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 3.9rem;
}
.header-search__search-input:focus {
  outline: none;
}

.mobile-search {
  display: flex;
  height: 4.4rem;
  background-color: #f2f3f4;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}
.mobile-search__input {
  flex: 1;
  font-size: 1.4rem;
  font-family: inherit;
  border: none;
  border-radius: 0.5rem;
  padding: 0 5rem 0 2rem;
  background-color: #f2f3f4;
}
.mobile-search__input:focus {
  outline: none;
  border: 1px solid #bce3c9;
}
.mobile-search__input::placeholder {
  color: #253d4e;
}

.banner {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  padding: 5rem;
  border-radius: 1rem;
}
.banner__text h2 {
  margin-bottom: 10rem;
}
.banner__text h4 {
  min-height: 11.5rem;
  transition: all 0.3s ease;
}
.banner__text:hover > h4 {
  transform: translateY(-0.5rem);
}
.banner--bg1 {
  background: url("../imgs/banner/banner-1.png") no-repeat center center;
  background-size: cover;
}
.banner--bg2 {
  background: url("../imgs/banner/banner-2.png") no-repeat center center;
  background-size: cover;
}
.banner--bg3 {
  background: url("../imgs/banner/banner-3.png") no-repeat center center;
  background-size: cover;
}
.banner--bg4 {
  background: url("../imgs/banner/banner-4.png") no-repeat center bottom;
  background-size: cover;
}
.banner--feature {
  gap: 2rem;
  padding: 2rem;
  background-color: #f4f6fa;
}
.banner--feature img {
  max-width: 6rem;
  transition: 0.3s;
}
.banner--feature h5 {
  font-weight: 600;
  color: #242424;
}
.banner--feature p {
  color: #adadad;
}
.banner--feature:hover img {
  transform: translateY(-0.5rem);
}

.mega-banner {
  display: flex;
  justify-content: space-between;
  min-height: 20vw;
  padding: 3rem;
  font-family: "Quicksand", sans-serif;
  background: url("../imgs/banner/banner-menu.png") no-repeat center center;
  background-size: cover;
  border-radius: 2rem;
  position: relative;
}
.mega-banner__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.mega-banner__hot {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #253d4e;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.mega-banner h4 {
  line-height: 1.5;
  margin-bottom: 1.1rem;
}
.mega-banner__price {
  font-size: 2.4rem;
  font-weight: 700;
  color: #81b13d;
  line-height: 1;
  margin-bottom: 2.8rem;
}
.mega-banner__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.1;
  color: #333;
  background-color: #ffd55a;
}
.mega-banner__label-nr {
  font-size: 2rem;
  font-weight: 700;
}
.mega-banner__cover-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product__rating {
  display: flex;
  align-items: center;
  height: 2.1rem;
}
.product__rating img {
  width: 1.3rem;
}
.product__rating span {
  font-size: 1.4rem;
  color: #b6b6b6;
  margin-left: 1rem;
}

.product-card {
  flex: 1 0 20rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #ececec;
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  transition: 0.2s;
}
.product-card__img-box {
  position: relative;
  flex-shrink: 0;
}
.product-card__img {
  display: block;
  width: 100%;
  border-radius: 1.5rem;
  transition: 0.25s opacity, 0.25s visibility, transform 1.5s cubic-bezier(0, 0, 0.2, 1);
}
.product-card__img--default {
  opacity: 1;
  visibility: visible;
}
.product-card__img--hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.product-card__badge {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  line-height: 1;
  color: #fff;
  padding: 0.9rem 2rem 1rem 2rem;
  border-radius: 1.5rem 0 2rem 0;
}
.product-card__badge--hot {
  background-color: #f74b81;
}
.product-card__badge--sale {
  background-color: #67bcee;
}
.product-card__badge--new {
  background-color: #55bb90;
}
.product-card__badge--best {
  background-color: #f59758;
}
.product-card__actions-box {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #bce3c9;
  box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease 0s;
}
.product-card__action, .product-card__action:link, .product-card__action:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 3.6rem;
  color: #3bb77e;
  border: 0;
  background: none;
  position: relative;
}
.product-card__action:hover, .product-card__action:active {
  color: #fdc040;
  transform: translateY(-0.3rem);
}
.product-card__action:not(:last-child) {
  border-right: 1px solid #bce3c9;
}
.product-card__action i {
  font-size: 1.5rem;
  color: inherit;
}
.product-card__action::after, .product-card__action::before {
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  z-index: 11;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}
.product-card__action::after {
  content: attr(aria-label);
  top: -2.5rem;
  font-size: 1.1rem;
  color: #fff;
  padding: 0.7rem 1rem;
  background-color: #3bb77e;
  border-radius: 0.5rem;
}
.product-card__action::before {
  content: "";
  top: 0;
  border: 0.7rem solid transparent;
  border-top-color: #3bb77e;
}
.product-card__action:hover::after, .product-card__action:hover::before {
  opacity: 1;
  visibility: visible;
  transform: translateY(-0.7rem);
}
.product-card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 333;
}
.product-card__category:link, .product-card__category:visited {
  display: inline-block;
  font-size: 1.2rem;
  color: #adadad;
  margin-bottom: 0.7rem;
}
.product-card__category:hover, .product-card__category:active {
  color: #3bb77e;
}
.product-card__title:link, .product-card__title:visited {
  color: inherit;
}
.product-card__title:hover, .product-card__title:active {
  color: #3bb77e;
}
.product-card__vendor {
  font-size: 1.4rem;
  color: #b6b6b6;
}
.product-card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 1.5rem;
}
.product-card__price {
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #3bb77e;
}
.product-card__price-old {
  font-size: 1.4rem;
  color: #adadad;
  text-decoration: line-through;
  margin-left: 0.7rem;
}
.product-card__progress {
  width: 100%;
  font-size: 1.3rem;
  color: #253d4e;
  margin: 1.5rem 0;
}
.product-card__progress--full {
  height: 0.6rem;
  margin-bottom: 0.8rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  overflow: hidden;
}
.product-card__progress--score {
  width: 50%;
  height: inherit;
  background-color: #3bb77e;
}
.product-card:hover .product-card__img--default {
  opacity: 0;
  visibility: hidden;
}
.product-card:hover .product-card__img--hover {
  opacity: 1;
  visibility: visible;
}
.product-card:hover .product-card__img {
  transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
}
.product-card:hover .product-card__actions-box {
  opacity: 1;
  visibility: visible;
}
.product-card:hover {
  border: 1px solid #bce3c9;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
}

.deal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deal-card__countdawn {
  position: absolute;
  top: -8rem;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 1.4rem;
  width: 100%;
}
.deal-card__countdawn-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 6rem;
  height: 6.4rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: #fff;
}
.deal-card__countdawn-amount {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 1;
  color: #3bb77e;
  transition: 0.2s;
}
.deal-card__countdawn-amount:hover {
  transform: translateY(-0.4rem);
}
.deal-card__content {
  display: flex;
  flex-direction: column;
  width: 86%;
  height: 100%;
  padding: 2.5rem 3rem;
  margin-top: -9rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
  z-index: 33;
  position: relative;
  transition: 0.3s;
}
.deal-card:hover .deal-card__content {
  transform: translateY(-0.5rem);
}

.slider__arrows {
  position: absolute;
  left: 2rem;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 3333;
}
.slider__dots {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.slider__arrow, .slider__arrow:link, .slider__arrow:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f3f4;
  border-radius: 50%;
  border: none;
}
.slider__arrow:hover, .slider__arrow:active {
  background: #3bb77e;
  color: #fff;
}
.slider__arrow--hero {
  width: 4.5rem;
  height: 4.5rem;
  font-size: inherit;
}
.slider__arrow--tab {
  width: 4rem;
  height: 4rem;
  font-size: 2.4rem;
}
.slider__dot, .slider__dot:link, .slider__dot:visited {
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  border-radius: 50%;
  border: 1px solid #253d4e;
  transition-timing-function: linear;
}
.slider__dot:hover, .slider__dot:active {
  background: #bce3c9;
}
.slider__dot--active {
  background: #3bb77e;
  border-color: #3bb77e;
}
.slider__dot--active:hover {
  background: #3bb77e;
  border-color: #3bb77e;
}

.hotline {
  display: inline-flex;
  flex-shrink: 0;
  gap: 1.2rem;
}
.hotline__icon {
  width: 3.6rem;
}
.hotline__icon--footer {
  width: 3rem;
  opacity: 0.5;
}
.hotline__text {
  line-height: 1;
}
.hotline__number {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 2.6rem;
  color: #3bb77e;
}
.hotline__support {
  font-size: 1.2rem;
  letter-spacing: 0.9px;
}

.social {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.social__links {
  flex: 1;
  display: flex;
  gap: 0.5rem;
}
.social__btn:link, .social__btn:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #3bb77e;
  transition-duration: 0.5s;
}
.social__btn:hover, .social__btn:active {
  transform: translateY(-0.3rem);
}
.social__btn:hover img, .social__btn:active img {
  opacity: 0.75;
}
.social__btn img {
  width: 1.6rem;
  transition: 0.3s;
}
.social--mobile {
  flex-direction: column;
  align-items: flex-start;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  cursor: crosshair;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header__top {
  padding: 3rem 0;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__logo {
  margin-right: 7rem;
}
.header__logo img {
  display: block;
  width: 18rem;
}
.header__search-wrap {
  flex: 1;
}
.header__actions-wrap {
  display: flex;
  gap: 2rem;
  margin-left: 1rem;
}
.header__bottom {
  background-color: #fff;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.header__bottom--sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0.8rem 2rem 0 rgba(0, 0, 0, 0.05);
  z-index: 11111;
  animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  position: relative;
}

.header-action {
  position: relative;
}
.header-action__link {
  display: flex;
  align-items: baseline;
}
.header-action__img {
  width: 2.5rem;
  display: block;
}
.header-action:not(:last-child) .header-action__img {
  margin-right: 1rem;
}
.header-action__count {
  position: absolute;
  top: -0.7rem;
  left: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  color: #fff;
  background: #3bb77e;
  border-radius: 100%;
}
.header-action__label {
  display: block;
  color: #7e7e7e;
}
.header-action:hover .action-dropdown {
  top: calc(100% + 1rem);
  opacity: 1;
  visibility: visible;
}

.header-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 36rem;
  height: 100vh;
  padding: 2rem 3rem 3rem;
  background-color: #fff;
  z-index: 33333;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.09);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0;
  visibility: hidden;
}
.header-mobile__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.header-mobile__logo {
  width: 10rem;
}
.header-mobile__info {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #ececec;
}
.header-mobile__info-link:link, .header-mobile__info-link:visited {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #253d4e;
}
.header-mobile__info-link:hover, .header-mobile__info-link:active {
  color: #3bb77e;
}
.header-mobile__info-link i {
  color: #3bb77e;
}
.header-mobile__copyright {
  font-size: 1.3rem;
  color: #b6b6b6;
  line-height: 1.8;
}

.action-dropdown {
  position: absolute;
  top: calc(100% + 2rem);
  right: 0;
  min-width: 20rem;
  width: max-content;
  max-width: 50rem;
  padding: 3rem 2rem 2.7rem;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
  z-index: 3333;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.action-dropdown__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.action-dropdown__item {
  display: flex;
  gap: 2rem;
}
.action-dropdown__link:link, .action-dropdown__link:visited {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  color: #253d4e;
  line-height: 2.4rem;
}
.action-dropdown__link:hover, .action-dropdown__link:active {
  color: #3bb77e;
}
.action-dropdown__product-text {
  flex: 1;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #253d4e;
  line-height: 1;
  margin-top: 0.6rem;
}
.action-dropdown__product-link:link, .action-dropdown__product-link:visited {
  font-weight: 500;
  color: #3bb77e;
  line-height: 1;
}
.action-dropdown__product-link:hover, .action-dropdown__product-link:active {
  color: #253d4e;
}
.action-dropdown__delete:link, .action-dropdown__delete:visited {
  font-size: 1.8rem;
  color: #696969;
  margin-top: 0.6rem;
}
.action-dropdown__delete:hover, .action-dropdown__delete:active {
  color: #333;
}
.action-dropdown__img {
  max-width: 8rem;
}
.action-dropdown__footer {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  grid-gap: 2.5rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #9b9b9b;
  line-height: 1.2;
  padding-top: 1.7rem;
  border-top: 2px solid #f3f3f3;
}
.action-dropdown__product-price {
  font-size: 1.8rem;
  color: #3bb77e;
  justify-self: end;
}

.categories-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 3rem;
  margin-top: 1.3rem;
  text-align: center;
  background-color: #fff;
  border: 1px solid #bce3c9;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
  z-index: 9999;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.categories-dropdown__list {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  max-width: 42.5rem;
  max-height: 31.2rem;
  overflow: hidden;
  transition: all 0.5s ease;
}
.categories-dropdown__list--full {
  max-height: 45rem;
}
.categories-dropdown__item {
  width: 20.5rem;
  border: 1px solid #f2f3f4;
  border-radius: 0.5rem;
  break-inside: avoid;
  transition: 0.3s;
}
.categories-dropdown__item:hover {
  border: 1px solid #bce3c9;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
}
.categories-dropdown__item:hover > .categories-dropdown__link {
  color: #3bb77e;
}
.categories-dropdown__link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.9rem 1.8rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #253d4e;
}
.categories-dropdown__link img {
  max-width: 3rem;
}
.categories-dropdown__more {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #253d4e;
  background: none;
  border: none;
  cursor: pointer;
}
.categories-dropdown__more-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  border: 2px solid #3bb77e;
  border-radius: 50%;
}
.categories-dropdown__more-icon::before {
  content: "";
  width: 1.2rem;
  height: 0.2rem;
  background-color: #3bb77e;
}
.categories-dropdown__more-icon::after {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 1.2rem;
  background-color: #3bb77e;
}
.categories-dropdown__more-icon.open::after {
  display: none;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-nav__item {
  position: relative;
  padding: 0 1.7rem;
}
.main-nav__item--hot {
  margin-right: 1.5rem;
}
.main-nav a {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
.main-nav img {
  width: 2rem;
}
.main-nav__link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  height: 7rem;
  line-height: 1rem;
  color: #253d4e;
}
.main-nav .active, .main-nav__item:hover > .main-nav__link {
  color: #3bb77e;
}
.main-nav .active i, .main-nav__item:hover > .main-nav__link i {
  color: #3bb77e;
}
.main-nav__item:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 1.2rem;
}
.main-nav__item:hover > .mega-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}

.sub-menu,
.level-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
  margin-top: 2rem;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease 0s;
}
.sub-menu__item,
.level-menu__item {
  position: relative;
}
.sub-menu__link,
.level-menu__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  color: #7e7e7e;
  line-height: 1;
  padding: 0 1.5rem;
}
.sub-menu__item:hover > .sub-menu__link,
.sub-menu__item:hover > .level-menu__link,
.level-menu__item:hover > .sub-menu__link,
.level-menu__item:hover > .level-menu__link {
  color: #3bb77e;
}

.sub-menu {
  top: 100%;
  left: 0;
  min-width: 25rem;
  padding: 2.5rem 1.5rem;
}
.sub-menu__item:hover > .level-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 0rem;
}

.level-menu {
  top: -11rem;
  left: 100%;
  min-width: 24rem;
  padding: 3.3rem 0 3.5rem;
}
.level-menu--modify {
  top: -2.5rem;
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(17rem, 1fr)) minmax(20rem, 50.8rem);
  column-gap: 2.4rem;
  padding: 3.5rem;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
  z-index: 33333;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease 0s;
}
.mega-menu__list-title {
  display: block;
  font-size: 1.9rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2.8rem;
}
.mega-menu__list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.mega-menu__link:link, .mega-menu__link:visited {
  display: block;
  font-size: 1.5rem;
  color: #7e7e7e;
  line-height: 1.4;
}
.mega-menu__link:hover, .mega-menu__link:active {
  color: #3bb77e;
}

.nav-tabs {
  display: flex;
  gap: 3rem;
}
.nav-tabs__link, .nav-tabs__link:link, .nav-tabs__link:visited {
  display: inline-block;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: inherit;
  font-weight: 600;
  border: 0;
  color: #253d4e;
  background: none;
}
.nav-tabs__link:hover, .nav-tabs__link:active {
  color: #3bb77e;
  transform: translateY(-0.3rem);
}
.nav-tabs .active {
  color: #3bb77e;
}

.mobile-menu__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 0;
}
.mobile-menu__item:not(:last-child) {
  border-bottom: 1px solid #ececec;
}
.mobile-menu__item i {
  font-size: 1.4rem;
  font-weight: 300;
  color: #253d4e;
}
.mobile-menu__link:link, .mobile-menu__link:visited {
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #253d4e;
  line-height: 1;
}
.mobile-menu__link:hover, .mobile-menu__link:active {
  color: #3bb77e;
}
.mobile-menu__expand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.newsletter {
  padding: 2.5rem 0;
}
.newsletter__wrap {
  min-height: 23rem;
  padding: 8.4rem 7.8rem;
  border-radius: 2rem;
  background: url("../imgs/banner/banner-10.png") no-repeat center, url("../imgs/banner/banner-9.png") no-repeat bottom right 5.3rem;
  background-size: cover, 40% auto;
}

.features {
  padding: 2.5rem 0;
}
.features__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.4rem;
}

.footer-links {
  padding: 2.5rem 0;
}
.footer-links__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}
.footer-links__column {
  flex: 1 0 12rem;
  max-width: 22.4rem;
  color: #253d4e;
}
.footer-links__column:first-child {
  min-width: 30rem;
}
.footer-links__column:last-child {
  max-width: 30rem;
}
.footer-links__column h4 {
  margin: 1.5rem 0 2rem 0;
}
.footer-links__column li {
  margin-bottom: 1.3rem;
}
.footer-links__column a:link, .footer-links__column a:visited {
  color: inherit;
}
.footer-links__column a:hover, .footer-links__column a:active {
  padding-left: 0.5rem;
  color: #3bb77e;
}
.footer-links__download {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin: 3rem 0;
}
.footer-links__download img {
  max-width: 12.8rem;
}
.footer-links__download a:hover {
  transform: translateY(-0.5rem);
  padding-left: 0;
}

.footer-bottom__wrap {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #bce3c9;
  padding: 3rem 0;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.hero {
  padding: 2.5rem 0;
}

.hero-slider {
  position: relative;
  padding: 9.7rem;
  border-radius: 3rem;
  background: url("../imgs/slider/slider-1.png") no-repeat center center;
  background-size: cover;
}
.hero-slider__heading {
  font-size: 7.2rem;
  line-height: 1;
  margin-bottom: 4rem;
}
.hero-slider__desc {
  font-size: 3rem;
  line-height: 2.6rem;
  margin-bottom: 6.5rem;
}
.hero-slider__arrows {
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}
.hero-slider:hover > .hero-slider__arrows {
  opacity: 1;
  transition: opacity 0.5s ease 0s;
}

.featured {
  padding: 2.5rem 0;
}
.featured__list {
  overflow: hidden;
}
.featured__track {
  display: flex;
  gap: 2.4rem;
}
.featured__card {
  flex: 1;
  text-align: center;
  min-height: 18rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #f4f6fa;
  border-radius: 1rem;
  transition: 0.2s;
}
.featured__card:hover {
  border: 1px solid #bce3c9;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
}
.featured__card h6 a {
  color: inherit;
}
.featured__card:hover h6 a {
  color: #3bb77e;
}
.featured__card span {
  font-size: 1.4rem;
}
.featured__img {
  overflow: hidden;
  margin-bottom: 1rem;
}
.featured__img img {
  max-width: 8rem;
  transition: transform 0.5s;
}
.featured__img:hover img {
  transform: scale(1.05);
}

.banners {
  padding: 2.5rem 0;
}
.banners__wrap {
  display: flex;
  gap: 2.4rem;
  height: 18vw;
  min-height: 14.6rem;
  max-height: 28rem;
}

.populars {
  padding: 2.5rem 0;
}
.populars__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25.3rem, 1fr));
  grid-gap: 2.4rem;
}

.bestsells {
  padding: 2.5rem 0;
}
.bestsells__wrap {
  display: grid;
  grid-template-columns: minmax(min-content, 37.8rem) 1fr;
  grid-gap: 2.4rem;
}
.bestsells__list {
  position: relative;
  overflow: hidden;
}
.bestsells__track {
  display: flex;
  gap: 2.4rem;
}
.bestsells__arrows {
  margin-top: -6rem;
}

.deals {
  padding: 2.5rem 0;
}
.deals__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.4rem;
}

.toplists {
  padding: 2.5rem 0;
}
.toplists__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2.4rem;
}
.toplists__products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.toplists__item {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.toplists__item img {
  max-width: 11rem;
  border-radius: 1rem;
}
.toplists__item:hover {
  transform: translateY(-0.5rem);
}

/*import vendors*/

/*# sourceMappingURL=main.css.map */
