.newsletter {
  padding: 2.5rem 0;

  &__wrap {
    min-height: 23rem;
    padding: 8.4rem 7.8rem;
    border-radius: 2rem;
    background: url('../imgs/banner/banner-10.png') no-repeat center,
      url('../imgs/banner/banner-9.png') no-repeat bottom right 5.3rem;
    background-size: cover, 40% auto;

    @include respond(600) {
      padding: 4rem;
    }

    h2 {
      max-width: 59rem;
    }
  }
}

.features {
  padding: 2.5rem 0;

  &__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.4rem;
  }
}

.footer-links {
  padding: 2.5rem 0;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
  }

  &__column {
    flex: 1 0 12rem;
    max-width: 22.4rem;
    color: $color-heading;

    &:first-child {
      min-width: 30rem;
    }

    &:last-child {
      max-width: 30rem;
    }

    h4 {
      margin: 1.5rem 0 2rem 0;
    }

    li {
      margin-bottom: 1.3rem;
    }

    a {
      &:link,
      &:visited {
        color: inherit;
      }

      &:hover,
      &:active {
        padding-left: 0.5rem;
        color: $color-brand;
      }
    }
  }

  &__download {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin: 3rem 0;

    img {
      max-width: 12.8rem;
    }

    a:hover {
      transform: translateY(-0.5rem);
      padding-left: 0;
    }
  }
}

.footer-bottom {
  &__wrap {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border-color-2;
    padding: 3rem 0;
    font-size: $font-sm;
    line-height: 2.4rem;
  }
}
