.header {
  &__top {
    padding: 3rem 0;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__logo {
    margin-right: 7rem;

    img {
      display: block;
      width: 18rem;
    }
  }

  &__search-wrap {
    flex: 1;
  }

  &__actions-wrap {
    display: flex;
    gap: 2rem;
    margin-left: 1rem;
  }

  &__bottom {
    border-top: 1px solid $border-color-3;
    border-bottom: 1px solid $border-color-3;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 1.8rem;
  }
}

.header-action {
  position: relative;

  &__link {
    display: flex;
    align-items: baseline;
  }

  &__img {
    width: 2.5rem;
    display: block;
  }

  &:not(:last-child) &__img {
    margin-right: 1rem;
  }

  &__count {
    position: absolute;
    top: -0.7rem;
    left: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    color: #fff;
    background: $color-brand;
    border-radius: 100%;
  }

  &__label {
    display: block;
    color: $color-text;
  }

  &:hover .action-dropdawn {
    top: calc(100% + 1rem);
    opacity: 1;
    visibility: visible;
  }
}
