@import '@/styles/abstracts/_variables.scss';

.slider {
  &__arrows {
    position: absolute;
    left: 2rem;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 3333;
  }
}
