@import '@/styles/abstracts/_variables.scss';

.slider {
  &__arrow {
    &,
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $background-1;
      border-radius: 50%;
      border: none;
    }

    &:hover,
    &:active {
      background: $color-brand;
      color: #fff;
    }

    &--hero {
      width: 4.5rem;
      height: 4.5rem;

      i {
        font-size: inherit;
      }
    }

    &--tab {
      width: 4rem;
      height: 4rem;
      font-size: 2.4rem;
    }
  }
}
