.hero {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.hero-slider {
  position: relative;
  padding: 9.7rem;
  border-radius: 3rem;
  background: url("../imgs/slider/slider-1.png") no-repeat center center;
  background-size: cover;

  &__heading {
    font-size: 7.2rem;
    line-height: 1;
    margin-bottom: 4rem;
  }

  &__desc {
    font-size: 3rem;
    line-height: 2.6rem;
    margin-bottom: 6.5rem;
  }

  &__arrows {
    position: absolute;
    left: 2rem;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease 0s;
  }

  &:hover > &__arrows {
    opacity: 1;
    transition: opacity 0.5s ease 0s;
  }

  &__dots {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
